# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Sublime files
*.sublime*

#Erlend Ubuntu files
*~

#PDF files
*.aux
*.log
*.pdf
*.lof
*.toc
*.lot
*.synctex.gz
*.nav
*.snm

#Exercise 4 specific folders
exercises/ex4/debug/
exercises/ex4/release/

#Exercise 5 specific folders
exercises/ex5/debug/
exercises/ex5/release/

#Exercise 6 specific folders
exercises/ex6/ex/debug/
exercises/ex6/ex/release/
exercises/ex6/ex/debug_mpi/
exercises/ex6/ex/release_mpi/
exercises/ex6/ex/debug_omp_mpi/
exercises/ex6/ex/release_omp_mpi/
exercises/ex6/debug/
exercises/ex6/release/
